@import url('onyx-root.css');
@import url('components/onyx-urlbar.css');
@import url('components/onyx-navbar.css');
@import url('components/onyx-treestyletab.css');

.browserStack>browser{
    border-radius: var(--border-radius) !important;
    /* outline: 2px solid color-mix(in srgb, var(--auto-general-color) 50%, transparent) !important; */
    /* outline: 1px solid red !important; */
}

#main-window{
    /* background-color: color-mix(in srgb, var(--lwt-accent-color) 60%, transparent)  !important; */
    /* background-color: color-mix(in srgb, var(--auto-accent-color) 90%, transparent)  !important; */
    background-color: #1C1B22 !important;
    /* appearance: -moz-win-borderless-glass !important;
    appearance: -moz-win-glass !important; */
    
    
}
#tabbrowser-tabpanels {
  background-color: transparent;
  margin: 4px !important;
  border-radius: var(--border-radius) !important;
  border-width: var(--border-width) !important;
  border-color: var(--border-color) !important;
  border-style: solid !important;
}
#navigator-toolbox {
  /* background-color: transparent !important; */
  border-radius: var(--border-radius) !important;
}
#navigator-toolbox-background {
  /* background-color: transparent !important; */
}
#appcontent, #browser, #tabbrowser-tabbox, #tabbrowser-tabpanels, .browserSidebarContainer {
  background-color: transparent !important;
}



