#nav-bar {
    border-radius: 0px !important;
    background-color: #191818 !important;
}

#nav-bar, #PersonalToolbar {
    border-radius: 4px !important;
    margin: 4px 4px 0px 4px !important;
    border-width: 1px !important;
    border-color: #aaaaaa !important;
    border-style: solid !important;
}
