/* Hide main tabs toolbar */
 #titlebar {
  appearance: none !important;
  height: 0px;
}

/* Sidebar min and max width removal */
#sidebar-box {
    max-width: none !important;
    min-width: 0px !important;
    margin: 4px 0px 4px 4px !important;
}

/* Hide splitter, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] + #sidebar-splitter {
    display: none !important;
}
/* Hide sidebar header, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
    visibility: collapse;
}

#sidebar {
    border-radius: var(--border-radius) !important;
    border-width: var(--border-width) !important;
    border-color: var(--border-color) !important;
    border-style: solid !important;
}

/* Shrink sidebar until hovered */
#sidebar-box {
  
  position: relative !important;
  min-width: var(--thin-tab-width) !important;
  max-width: var(--thin-tab-width) !important;
  z-index: 1000 !important;
}
#sidebar-box #sidebar:hover {
  transition: all var(--transition-time) var(--ease-out) !important;
  transition-delay: var(--transition-delay) !important;
  min-width: var(--wide-tab-width) !important;
  max-width: var(--wide-tab-width) !important;
  z-index: 1 !important;
}

#sidebar-box :not(#sidebar:hover) {
  transition: all var(--transition-time) var(--ease-out) !important;
  transition-delay: var(--transition-delay) !important;
  min-width: var(--thin-tab-width) !important;
  max-width: var(--thin-tab-width) !important;;
  z-index: 1 !important;
}